.app-container {
    display: flex;
    align-items: center;

    .choice-container {
        height: 100%;
        display: flex;
        flex-direction: column;

        .choice-item {
            max-height: 50vh;
            margin: 8px;

            .text-container {
                color: white;

                h2 {
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: bold;
                    font-size: 24pt;
                }

                p {
                    font-family: 'Cairo', sans-serif;
                    font-style: italic;
                }
            }

          img {
            border-radius: 50%;
            max-height: 38vh;
            max-width: 90vw;
          }
        }
      }
}
