.app-container {
  color: white;
  height: 100vh;
  width: 100vw;

  .row {
    height: 50vh;

    .col {
      height: 50vh;
      img {
        border-radius: 50%;
        max-height: 30vh;
      }


    }
  }
}

.no-vote-row {
  height: 100vh;

  .emoji {
    font-size: 60pt;
  }
}
