<div class="app-container">
  <div
    *ngIf="choices != null && choices.length > 0; else noVoteInProgress"
    class="choice-container"
  >
    <div
      *ngFor="let choice of choices"
      class="choice-item"
      (click)="onClickChoice(choice)"
    >
      <h2>{{ choice.track.name }}</h2>
      by
      <h3>{{ choice.track.artists[0].name }}</h3>
      <div class="image-wrapper">
        <img
          *ngIf="choice.track.album.images"
          [src]="choice.track.album.images[0].url"
        />
      </div>
    </div>
  </div>
</div>

<ng-template #noVoteInProgress>
  <h1>There is no vote in progress</h1>
</ng-template>
